<div class="mdl-card mdl-shadow--2dp" *ngIf="node">
  <div class="mdl-card__title">
    <div class="mdl-card__title-text">
      Advanced properties
    </div>
  </div>

  <div class="mdl-card__content">
    <metadata-accordion>
      <metadata-accordion-item *ngFor="let item of advancedPropertiesMock">
        <alfresco-accordion-title>
          {{ item.title }}
        </alfresco-accordion-title>

        <alfresco-accordion-content>
          <ul class="mdl-list">
            <li
              class="mdl-list__item mdl-list__item--two-line"
              *ngFor="let property of item.properties">
              <span class="mdl-list__item-primary-content">
                <span class="mdl-list__item-sub-title">{{ property.label }}</span>
                <span>{{ property.value }}</span>
              </span>
            </li>
          </ul>
        </alfresco-accordion-content>
      </metadata-accordion-item>
    </metadata-accordion>
  </div>

  <div class="mdl-card__menu">
    <button
      class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"
      (click)="edit()">
      <i class="material-icons">edit</i>
    </button>
  </div>
</div>
