<form>
  <div class="alf-edit__sub-header">
     <div class="alf-edit__sub-title">
       Dublin core
     </div>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input
      id="publisher"
      class="mdl-textfield__input"
      name="publisher"
      type="text">

    <label
      class="mdl-textfield__label"
      for="publisher">
      Publisher
    </label>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input
      id="contribuitor"
      name="contribuitor"
      class="mdl-textfield__input"
      type="text">

    <label
      class="mdl-textfield__label"
      for="contribuitor">
      Contribuitor
    </label>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input
      id="type"
      name="type"
      class="mdl-textfield__input"
      type="text">

    <label
    class="mdl-textfield__label"
    for="type">
    Type
   </label>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input
      id="identifier"
      name="identifier"
      class="mdl-textfield__input"
      type="text">

    <label
    class="mdl-textfield__label"
    for="identifier">
    Identifier
   </label>
  </div>

  <div class="alf-edit__sub-header">
     <div class="alf-edit__sub-title">
       Effectivity
     </div>
  </div>

  <div class="alf-edit__sub-header">
     <div class="alf-edit__sub-title">
       Geographic
     </div>
  </div>
</form>
