:host > .metadata {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background: #eee;
  border: 1px solid rgba(0,0,0, .12);
  width: 400px;
  display: flex;
  flex-flow: column;
}

:host > .metadata > .metadata-title {
  padding: 15px 24px;
  background: #fff;
  flex: 0 1 auto;
}

  :host > .metadata > .metadata-title h5 {
    margin: 0;
  }

:host > .metadata > .metadata-tabs {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  overflow: hidden;
}

  :host .metadata-tabs > .mdl-tabs__tab-bar {
    background: #fff;
    display: block;
    flex: 0 1 auto;
  }

  :host .metadata-tabs > .mdl-tabs__panel {
    padding: 5px;
    flex: 1 1 auto;
    overflow: auto;
  }

  :host .metadata-tabs .mdl-card {
    width: auto;
  }

  :host .metadata-tabs .mdl-card > .mdl-card__title {}
  :host .metadata-tabs .mdl-card > .mdl-card__title > .mdl-card__title-text {
    font-size: 14px;
    opacity: .5;
    font-weight: 500;
  }

  :host .metadata-tabs .mdl-card > .mdl-card__menu {
    top: 10px;
  }


:host .mdl-list__item-primary-content {

}

  :host .mdl-list__item-primary-content > .mdl-list__item-label {
    display: block;
    opacity: .5;
  }

