<div class="mdl-card mdl-shadow--2dp" *ngIf="node">
  <div
    class="mdl-progress mdl-js-progress mdl-progress__indeterminate"
    *ngIf="loading">
  </div>

  <div class="mdl-card__title">
    <div class="mdl-card__title-text">
      Tags ({{ tags.length }})
    </div>
  </div>

  <div class="mdl-card__menu">
    <button
      type="button"
      class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"
      (click)="startEditing()"
      [disabled]="editing">
      <i class="material-icons">edit</i>
    </button>
  </div>

  <div class="mdl-card__content">
    <p *ngIf="!tags.length && !editing">No tags, yet!</p>

    <span
      id="metadata-tag-{{ tagObject.entry.id }}"
      class="mdl-chip tag-item"
      *ngFor="let tagObject of tags"
      [ngClass]="{ 'mdl-chip--deletable': editing }">
      
      <span class="mdl-chip__text">
        {{ tagObject.entry.tag }}
      </span>

      <button
        type="button"
        class="mdl-chip__action"
        (click)="removeTag(tagObject.entry.id)"
        [hidden]="!editing">
        <i class="material-icons">cancel</i>
      </button>
    </span>
  
    <form action="#" *ngIf="editing">
      <div class="mdl-textfield mdl-js-textfield">
        <input
          class="mdl-textfield__input"
          type="text"
          placeholder="Add a new tag"
          [(ngModel)]="newTagValue">
      </div>

      <div class="mdl-button-group">
        <button
          type="button"
          class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"
          (click)="cancelEditing()">
          <i class="material-icons">clear</i>
        </button>

        <button
          type="button"
          class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"
          (click)="addTag(newTagValue)"
          [disabled]="!newTagValue">
          <i class="material-icons">done</i>
        </button>    
      </div>
    </form>
  </div>
</div>