<div class="mdl-card mdl-shadow--2dp" *ngIf="node">
  <div
    class="mdl-progress mdl-js-progress mdl-progress__indeterminate"
    *ngIf="loading">
  </div>

  <div class="mdl-card__title">
    <div class="mdl-card__title-text">
      Comments ({{ comments.length }})
    </div>
  </div>

  <div
    class="mdl-card__content"
    *ngIf="comments.length">

    <div class="mdl-list alf-comments">
      <div
        class="mdl-list__item alf-comments__comment"
        *ngFor='let comment of comments'>

        <div class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-avatar">person</i>
          <div class="alf-comments__comment-body">
            <span class="alf-comments__comment-author">{{ comment.entry.createdBy.firstName }}</span>
            <span class="alf-comments__comment-content">{{ comment.entry.content }}</span>
            <span class="alf-comments__comment-timestamp">{{ comment.entry.createdAt }}</span>              
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mdl-card__actions">
    <form class="add-comment-form" action="#">
      <div class="mdl-textfield mdl-js-textfield">
        <textarea
          class="mdl-textfield__input"
          rows="1"
          placeholder="Add a comment"
          [(ngModel)]="comment"></textarea>
      </div>

      <div class="mdl-button-group" *ngIf="comment">
        <button
          class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"
          (click)="clearComment()">
          <i class="material-icons">clear</i>
        </button>

        <button
          class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"
          (click)="saveComment()">
          <i class="material-icons">done</i>
        </button>
      </div>
    </form>
  </div>
</div>
