<div class="mdl-card mdl-shadow--2dp metadata-details-card">
  <ul class="mdl-list">
    <li class="mdl-list__item mdl-list__item--two-line" *ngIf="node.content">
      <span class="mdl-list__item-primary-content">
        <span class="mdl-list__item-sub-title">Type</span>
        <span>{{ node.content.mimeTypeName }}</span>
      </span>
    </li>

    <li class="mdl-list__item mdl-list__item--two-line" *ngIf="node.isFolder">
      <span class="mdl-list__item-primary-content">
        <span class="mdl-list__item-sub-title">Type</span>
        <span>Folder</span>
      </span>
    </li>

    <li class="mdl-list__item mdl-list__item--two-line" *ngIf="node.content">
      <span class="mdl-list__item-primary-content">
        <span class="mdl-list__item-sub-title">Size</span>
        <span>{{ node.content.sizeInBytes }} bytes</span>
      </span>
    </li>

    <li class="mdl-list__item mdl-list__item--two-line">
      <span class="mdl-list__item-primary-content">
        <span class="mdl-list__item-sub-title">Location</span>
        <span>{{ node.path.elements[node.path.elements.length - 1].name }}</span>
      </span>
    </li>

    <li class="mdl-list__item mdl-list__item--two-line">
      <span class="mdl-list__item-primary-content">
        <span class="mdl-list__item-sub-title">Owner</span>
        <span>{{ node.createdByUser.displayName }}</span>
      </span>
    </li>

    <li class="mdl-list__item mdl-list__item--two-line">
      <span class="mdl-list__item-primary-content">
        <span class="mdl-list__item-sub-title">Created</span>
        <span>{{ node.createdAt }}</span>
      </span>
    </li>

    <li class="mdl-list__item mdl-list__item--two-line">
      <span class="mdl-list__item-primary-content">
        <span class="mdl-list__item-sub-title">Modified</span>
        <span>{{ node.modifiedAt }} by {{ node.modifiedByUser.displayName }}</span>
      </span>
    </li>
  </ul>

  <div class="mdl-card__actions mdl-card--border">
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">star</i>
    </button>

    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"
      (click)="openDialog()">
      <i class="material-icons">edit</i>
    </button>
  </div>
</div>

<dialog class="mdl-dialog" #dialog>
    <h4 class="mdl-dialog__title">Edit properties</h4>
    <div class="mdl-dialog__content">

    </div>
    <div class="mdl-dialog__actions">
        <button type="button" (click)="save()" class="mdl-button">Save</button>
        <button type="button" (click)="cancel()" class="mdl-button close">Cancel</button>
    </div>
</dialog>
