<div class="mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <div class="mdl-card__title-text">
      Comments (3)
    </div>
  </div>

  <div
    class="mdl-progress mdl-js-progress mdl-progress__indeterminate"
    *ngIf="loading"></div>

  <div
    class="mdl-card__actions mdl-card--border"
    *ngIf="comments.length">

    <div class="mdl-list metadata-comments">
      <div
        class="mdl-list__item metadata-comment"
        *ngFor='let comment of comments'>

        <span class="mdl-list__item-primary-content metadata-comment-body">
          <i class="material-icons mdl-list__item-avatar">person</i>
          <div class="metadata-comment-content">
            <h6>{{ comment.entry.createdBy.firstName }}</h6>
            <p>{{ comment.entry.content }}</p>
          </div>
        </span>
      </div>
    </div>
  </div>

  <div class="mdl-card__actions mdl-card--border">
    <form class="add-comment-form" action="#">
      <div class="mdl-textfield mdl-js-textfield">
        <textarea
          class="mdl-textfield__input"
          rows="1"
          placeholder="Add a comment"
          [(ngModel)]="comment"></textarea>
      </div>

      <div *ngIf="comment">
        <button
          class="mdl-button mdl-js-button mdl-js-ripple-effect"
          (click)="resetComment()">
          Cancel
        </button>
        <button
          class="mdl-button mdl-js-button mdl-js-ripple-effect"
          (click)="addComment()">
          Add
        </button>
      </div>
    </form>
  </div>
</div>