<div class="mdl-card mdl-shadow--2dp metadata-details-card" *ngIf="details">
  <ul class="mdl-list">
    <li class="mdl-list__item mdl-list__item--two-line"
    *ngIf="details.mimeTypeName">
      <span class="mdl-list__item-primary-content">
        <span class="mdl-list__item-sub-title">Type</span>
        <span>{{ details.mimeTypeName }}</span>
      </span>
    </li>

    <li class="mdl-list__item mdl-list__item--two-line" *ngIf="details.isFolder">
      <span class="mdl-list__item-primary-content">
        <span class="mdl-list__item-sub-title">Type</span>
        <span>Folder</span>
      </span>
    </li>

    <li class="mdl-list__item mdl-list__item--two-line"
    *ngIf="!details.isFolder">
      <span class="mdl-list__item-primary-content">
        <span class="mdl-list__item-sub-title">Size</span>
        <span>{{ details.sizeInBytes }} bytes</span>
      </span>
    </li>

    <li class="mdl-list__item mdl-list__item--two-line">
      <span class="mdl-list__item-primary-content">
        <span class="mdl-list__item-sub-title">Location</span>
        <span>{{ node.path.elements[node.path.elements.length - 1].name }}</span>
      </span>
    </li>

    <li class="mdl-list__item mdl-list__item--two-line">
      <span class="mdl-list__item-primary-content">
        <span class="mdl-list__item-sub-title">Owner</span>
        <span>{{ details.createdByUser.displayName }}</span>
      </span>
    </li>

    <li class="mdl-list__item mdl-list__item--two-line">
      <span class="mdl-list__item-primary-content">
        <span class="mdl-list__item-sub-title">Created</span>
        <span>{{ details.createdAt | date }}</span>
      </span>
    </li>

    <li class="mdl-list__item mdl-list__item--two-line">
      <span class="mdl-list__item-primary-content">
        <span class="mdl-list__item-sub-title">Modified</span>
        <span>{{ details.modifiedAt | date }} by {{ details.modifiedByUser.displayName }}</span>
      </span>
    </li>
  </ul>

  <ul class="mdl-list more-information" *ngIf="moreInformation">
    <li class="mdl-list__item mdl-list__item--two-line">
      <span class="mdl-list__item-primary-content">
        <span class="mdl-list__item-sub-title">Title</span>
        <span [ngClass]="{'empty-detail': !details.title}">
          {{ details.title || 'None' }}
        </span>
      </span>
    </li>

    <li class="mdl-list__item mdl-list__item--two-line">
      <span class="mdl-list__item-primary-content">
        <span class="mdl-list__item-sub-title">Author</span>
        <span [ngClass]="{'empty-detail': !details.author}">
          {{ details.author || 'None' }}
        </span>
      </span>
    </li>

    <li class="mdl-list__item mdl-list__item--two-line">
      <span class="mdl-list__item-primary-content">
        <span class="mdl-list__item-sub-title">Description</span>
        <span [ngClass]="{'empty-detail': !details.description}">
          {{ details.description || 'None' }}
        </span>
      </span>
    </li>

    <li class="mdl-list__item mdl-list__item--two-line">
      <span class="mdl-list__item-primary-content">
        <span class="mdl-list__item-sub-title">Mimetype</span>
        <span [ngClass]="{'empty-detail': !details.mimeTypeName}">
          {{ details.mimeTypeName || 'None' }}
        </span>
      </span>
    </li>
  </ul>

  <div class="mdl-card__actions mdl-card--border">
    <button
      class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"
      (click)="toggleFavorite()">
      <i class="material-icons">{{ favorite.entry ? 'star' : 'star_border' }}</i>
    </button>

    <button
      class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"
      (click)="editDetails()">
      <i class="material-icons">edit</i>
    </button>

    <button
      class="mdl-button mdl-js-button mdl-js-ripple-effect more-information__toggle-button"
      (click)="moreInformation = !moreInformation">
      <span *ngIf="moreInformation">Less information</span>
      <span *ngIf="!moreInformation">More information</span>

      <i class="material-icons">{{ moreInformation ? 'keyboard_arrow_up' :  'keyboard_arrow_down' }}</i>
    </button>
  </div>
</div>
