<div
  class="alf-edit mdl-shadow--8dp"
  [ngClass]="{ 'alf-edit--active': active }">
  <div class="alf-edit__header">
    <div class="alf-edit__title">
      {{ title }}
    </div>
    <div class="alf-edit__actions">
      <button
        class="mdl-button mdl-js-button mdl-js-ripple-effect"
        (click)="dismiss()">
        Cancel
      </button>
      <button
        class="mdl-button mdl-js-button mdl-js-ripple-effect"
        (click)="close()">
        Save
      </button>
    </div>
  </div>

  <div class="alf-edit__content" #content>
    <div #body></div>
  </div>
</div>
