:host .mdl-list {
  margin: 0;
}

/* Alfresco comments */
:host .alf-comments {}
:host .alf-comments__comment {}

:host .alf-comments__comment  > .mdl-list__item-primary-content {
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start
}

:host .alf-comments__comment-body {
  letter-spacing: 0;
}

:host .alf-comments__comment-body > .alf-comments__comment-author,
:host .alf-comments__comment-body > .alf-comments__comment-content,
:host .alf-comments__comment-body > .alf-comments__comment-timestamp {
  display: block;
}

:host .alf-comments__comment-body .alf-comments__comment-author {
  margin-bottom: 10px;
}

:host .alf-comments__comment-body .alf-comments__comment-content {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 10px;
  color: #888;
}

:host .alf-comments__comment-body .alf-comments__comment-timestamp {
  font-size: 11px;
  color: #aaa;
  font-weight: 300;
}